<header>
  <img id="logo" src="images/webwall.png">
  <h1 id="blogName">BubsBlogs</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Blogs</a></li>
    </ul>
  </nav>