<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My art blog</title>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/login.js"></script>
</head>
<body>

    <div class="container container-fluid mt-5">

{{> header }}
{{{ body }}}
{{> footer }}
    </main>

</div>
</body>

</html>