<form action="/" method="POST" encType="multipart/form-data">
  <h3>Upload Artwork</h3>
  <input type="file" name="sampleFile" accept="image/*" />
  <input type="submit" class="btn btn-primary">
</form>

<div class="card">
  {{#each rows}}

    {{#if this.artwork}}
      <img class="card__image" src="{{this.artwork}}" alt="">
    {{else}}
      <img class="card__image" src="/img/default.jpg" alt="">
    {{/if}}
    
    <h1 class="card__title">{{this.title}}</h1>
    <div class="card__description">{{this.description}}</div>
    </p>
    <button type="button" class="btn btn-primary">View blogs</button>
  {{/each}}

</div>