<main>
  
<div class="jumbotron text-center">
  <h3>Design Client Project Samples</h3>

<div class="main-container">
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img src="/images/umLgo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Art Director</h5>
        <p class="card-text">UMass Amherst magazine Art Director, 2004-2012.</p><br>
          <img src="/images/cover_sm_sprr07.jpg">
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <img src="/images/PR1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Client: Prime Roast Coffee Co.</h5>
    <p class="card-text">Identity campaign.</p><br>
    <img src="/images/PR2.jpg">
    </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <img src="/images/PG1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Client: Pine Grove Springs Golf Course</h5>
      <p class="card-text">Advertising and social marketing campaign.</p><br>
      <img src="/images/PG2.jpg">
    </div>
    </div>
  </div>
</div>


</main>