<main>

<div class="jumbotron text-center">
  <h3>Full Stack Web Development</h3> 
 <br> 
<div class="main-container">
  <p>An example of completed projects:</p>
    <h5>Art-Stack</h5><br>
    <p>An online gallery for local artists and crafts people. Artists register for user priviledges of uploading and displaying their work. Anyone can view the gallery of exhibited work, however users will have added functionality including selecting favorite artists for updates of new work and announcements. 
    </p>
    <a href="https://github.com/bjenkins63/Art-Stack-Gallery">Git Repo</a>
      <br>
  <br>
    
  <img class="img-fluid" src="images/demo1.png" alt="Chania"> <br>
  <br>
  <br>
    <img class="img-fluid" src="images/demo2.png" alt="Chania"> 
  <br>
  <br>
    <h5>Truffle Shuffle entertainment application</h5><br>
    <p>A team project using outside API sources. We combined the choosing of cocktails and movies for an isolated social environment. Spin a wheel for movie genres, drink ideas and more.</p>
    <a href="https://github.com/bjenkins63/Truffle-Shuffle">Git Repo</a>
  <br>
  <br>
  <img class="img-fluid" src="images/TruffleShuffleExampleImage.png" alt="Chania">

<br>
<br>
  <h5>Staff Tracker application</h5><br>
    <p> Develop a cli staff tracking application that creates employee html "cards" and displays them to an index page.</p>    
    <a href="https://github.com/bjenkins63/Staff-Tracker">Git Repo</a>
    <br>
  <br>
  <img class="img-fluid" src="images/staff_2.png" alt="Chania"> 
</div>

</main>